<aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
  <p class="menu-label is-hidden-touch">Navigation</p>
  <ul class="menu-list">
    <li>
      <a routerLink="/admin" routerLinkActive="active" class="">
        <span class="icon"><fa-icon [icon]="faHome"></fa-icon></span> Home
      </a>
    </li>
    <li>
      <a routerLink="/admin/movie" routerLinkActive="active" class="">
        <span class="icon"><fa-icon [icon]="faPlusSquare"></fa-icon> </span> New Movie
      </a>
  </ul>
</aside>

