<section class="hero is-primary is-bold is-fullheight">
  <div class="hero-body">
    <div class="container">
        <div class="field has-addons">
          <div class="control has-icons-left has-icons-right is is-expanded">
            <input class="input is-large is-success" type="text" placeholder="Search movies by city" [(ngModel)]="city">
            <fa-icon class="icon is-left" [icon]="faSearch" size="2x"></fa-icon>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary is-large" (click)="searchMovies()">Submit</button>
            </div>
          </div>
      </div>
      <ul class="filmList">
        <li> <div *ngFor="let movie of movies">
          <div class="card mb-3">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <fa-icon [icon]="faFilm"></fa-icon>
                </div>
                <div class="media-content">
                  <p class="title is-4 has-text-black">{{movie.title}}</p>
                  <p class="subtitle is-6 has-text-black"> </p>
                  <p class="subtitle is-6 has-text-black"> {{movie.duration}} mins / {{movie.language}} <br>
                    <span class="has-text-grey-light is-small">Date range: </span>{{movie.startDate}} - {{movie.endDate}}<br>
                    <span class="is-small has-text-grey-light">Directed: </span>{{movie.director}}<br>
                    <span class="is-small has-text-grey-light">Stars: </span>{{movie.actors}}<br>
                    <span class="is-small has-text-grey-light">Subtitle: </span>{{movie.subtitle}}<br>
                    <span class="is-small has-text-grey-light">Min age: </span>{{movie.minAge}}<br><br>
                    <span class="is-small has-text-grey-light">Cinema: </span>{{movie.admin.cinemaName}}<br>
                    <span class="is-small has-text-grey-light">Address: </span>{{movie.admin.address}}</p><br>
                  <time *ngFor="let se of movie.sessionList">{{se.day}} {{se.time}} /</time>
                </div>
              </div>
            </div>
          </div>
        </div> </li>
      </ul>


    </div>
  </div>
</section>
