<section class="hero is-primary is-bold is-fullheight">
  <div class="hero-body">
    <div class="container">

        <div class="field has-addons">
          <div class="control has-icons-left has-icons-right is is-expanded">
            <input class="input is-large is-success" type="text" placeholder="Search movies by city" value="">
            <fa-icon class="icon is-left" [icon]="faSearch" size="2x"></fa-icon>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary is-large">Submit</button>
            </div>
          </div>
      </div>

      <div class="card mb-3">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <fa-icon [icon]="faFilm"></fa-icon>
            </div>
            <div class="media-content">
              <p class="title is-4 has-text-black">John Smith</p>
              <p class="subtitle is-6 has-text-black">@johnsmith</p>
            </div>
          </div>

          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <fa-icon [icon]="faFilm"></fa-icon>
            </div>
            <div class="media-content">
              <p class="title is-4 has-text-black">John Smith</p>
              <p class="subtitle is-6 has-text-black">@johnsmith</p>
            </div>
          </div>

          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <fa-icon [icon]="faFilm"></fa-icon>
            </div>
            <div class="media-content">
              <p class="title is-4 has-text-black">John Smith</p>
              <p class="subtitle is-6 has-text-black">@johnsmith</p>
            </div>
          </div>

          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <fa-icon [icon]="faFilm"></fa-icon>
            </div>
            <div class="media-content">
              <p class="title is-4 has-text-black">John Smith</p>
              <p class="subtitle is-6 has-text-black">@johnsmith</p>
            </div>
          </div>

          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <fa-icon [icon]="faFilm"></fa-icon>
            </div>
            <div class="media-content">
              <p class="title is-4 has-text-black">John Smith</p>
              <p class="subtitle is-6 has-text-black">@johnsmith</p>
            </div>
          </div>

          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
